/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;

 <p style="text-align: right;">right-aligned</p>
*/
* {
  box-sizing: border-box;
}


header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-family: 'Merienda', cursive, 700;
}

header h1{
  color: white;
  text-align: right;
  font-family: 'Merienda', cursive, 700;
  font-size: 150px;
  margin:0;
}

header .disney{
  background-image:"image/adisney/highlightedbrightened.png";
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  width: 500px;
  position: relative;
}

header .disney h2{
  color: white;
  font-size: 60px;
  position: absolute;
  top: 0px;
  left: 30px;
}

header .right{
  flex: 90%;
  text-decoration: none;
}

header nav {
  display:flex;
  align-items: right;
 
}

header nav div {
  flex: 1;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Merienda', cursive,400;
  font-size: 30px;
}

header nav .home{
  border-right: 1px;
  text-decoration: none;
}

.homepage {
background-color: rgba(66,109,181,.7);
font-size: 36px;
}

.classics {
background-color: rgba(177,217,163,.7);
font-size: 24px;
}

.pixar {
  background-color: rgba(109,204,233,.7);

}

.princesses {
  background-color: rgba(240,101,148,.7);
}

.marvel{
  background-color: rgba(238,42,36,.7);
}



nav .home {
  background-color: #426db5;
  }

nav .classics {
  background-color: #b1d9a3;
}

nav .pixar {
  background-color: #6dccdf;
}

nav .princesses {
  background-color: #f06594;
}

nav .marvel{
  background-color: #ee2a24;
}

.parentclassics .oswald .mickey .dumbo .pooh .im {
width:100%;
height: auto;
} 

.parentclassics .p {
  font-family: 'Open Sans', sans-serif, 400;
  font-size: 36px;

}

.parentclassices .classics .oswald p{
  left: 50%;
}

 .mickey, .pooh {
  display:flex;
  margin:50px;
  text-align : right ;
}

.oswald, .dumbo {
  display:flex;
  margin:50px;
  text-align : left ;
}

.oswald{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}
.mickey{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}
.dumbo{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}
.pooh{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}



.parent {
  flex: auto;
  width: 90%;
  margin: auto;
  height: 820px;
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
 }

.parenthomepage .one {
 
  background-color: rgba(59,85,166,.6);
  width:85%;
  margin-left: 10%;
  margin-right: 5%;
}


.parenthomepage .three {
  bottom: 25%;
  margin-left: 5% ;
}

.three .img{
  width:50%;
}

.toystory .flik .pixar .cars{
  font-size: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.parentpixar{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat Alternates', sans-serif, 400;
  font-family: 'Open Sans', sans-serif, 400;
  font-size: 48px;
  margin: auto;
  width: 100%;
}

.parentpixar .toystory .flik .monsters{
  flex: 60%
}

.parentpixar .toystoryimg .flikimg .monstersimg .carsimg {

  width: 100%;
  height:auto;

}

.parentpixar .two, .four {
  display:flex;
  margin:50px;
  text-align : right ;
}

.parentpixar .one, .three {
  display:flex;
  margin:50px;
  text-align : left ;
}

.parentpixar .one{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}
.parentpixar .two{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}
.parentpixar .three{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}

.parentpixar .four{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;
}


.parentprincesses img{
  width:60%;
  height: auto}

.parentprincesses{
  display:flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-size: 72px;
}

.order1, .order2, .order3, .order4{
  flex:1;
  flex-direction: row;
  width: 90%;
  margin:auto;

}

.marvel .colors{
  color: rgba (0,0,0,.7)
}

.hulk, .thor, .ironman, .captainamerica {
  position: relative;
  width: 300px;
  margin: auto;
}

.hulk img, .thor img, .ironman img, .captainamerica img {
  width: 100%;
}
.hulk, .thor, .ironman, .captainamerica,.text-hover {
  display: block;
  width: 800px;
  height: auto;
}

.hulk .overlay, .thor .overlay, .ironman .overlay, .captainamerica .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  opacity: 0;
  transition: .5s ease;
  background-color: #e4e3e3;
}

.hulk:hover .overlay, .thor:hover .overlay, .ironman:hover .overlay, .captainamerica:hover .overlay {
  opacity: 1;
}

.hulk .text, .thor .text,.ironman .text, .captainamerica .text {
  color: rgba(238,42,36,.7);
  font-family: 'Merienda', cursive;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*
.marvel img{
  margin:auto;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%
}

/*

.image-text {
  position: relative;
  width: 300px;
  margin: auto;
}

.image-text img {
  width: 100%;
}
.image-text .text-hover {
  display: block;
  width: 300px;
  height: auto;
}

.image-text .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image-text:hover .overlay {
  opacity: 1;
}

.image-text .text {
  color: white;
  font-family: arial;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
