/*
font-family: 'Montserrat', sans-serif;
 Montserrat wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700
*/


* {
	box-sizing: border-box;
}


body {
    background-color: antiquewhite;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
    margin:auto;
    }


 nav, header {
     width: none;
 }

img {
    width: 80%;
}

h1, h2, h3{
    font-family: 'Montserrat',sans-serif;
}

h1{
font-size: 60px;
}

h2{
font-size: 48px;
text-align:center;
}

h3{
font-size: 36px;
}

h4 {
    font-size: 24px;
}


.logoimage img{
    margin: 0;
    width: 25%;
}

.inform {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin:auto;
}

.inform div {
    flex:1;
}

.map img{
    width:80%;
    background-color: rgb(236, 34, 63);
    padding: 40px
}

ul {
    list-style-type: none;
  }

.button {
    background-color: rgb(236, 34, 63);
    border:5px solid black;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 40px;
    padding: 10px;
    position: absolute;
    top:0px;
    right:0px;
}



.buttons {
    background-color: rgb(236, 34, 63);
    border:5px solid black;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}

.menubar{
    width:90%;
    padding: 20px;
    left: 0;
    position: absolute;
}

.heroimage { 
    font-weight: 300px;
    font-style: italic;
    font-size: 20px;
}

.heroimage img {
        margin:0;
        width: 100%;
}

.building img {
 width: 70%;
}

.menu img{
    width:50%;
}

.sandwiches, .bowls, .plates, .row1, .row2, .row3, .row4{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin:auto;
}

.sandwiches img, .bowls img, .plates img, .row1 img, .row2 img, .row3 img, .row4 img{
    flex: 1;
}

.row1 p, .row2 p, .row3 p, .row4 p{
    flex: 1;
}


.sandwiches .sandwichlist, .bowls .bowllist, .plates .platelist{
    flex: 1;
}

.sandwichlist, .bowllist, .platelist{
    margin-left: 40px;
}

.contactbox{
    background-color: rgb(236, 34, 63);
}

.midbox{
    background-color: rgb(95,96,98);
}

.contactbox article{
    background-color: rgb(209,211,212);
    border: 2px solid black;
}

.sides img{
width:30%
}

