/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;

 <p style="text-align: right;">right-aligned</p>
*/
* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

header h1{
  text-align: right;
  color: white;
}

header .disney{
  background-image:"image/adisney/highlightedbrightened.png";
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  width: 500px;
  flex: 20%;
  position: relative;
}

header .disney h2{
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
}

header .right{
  flex: 80%;
  position: relative;
}

header nav {
  display:flex;
  position:absolute;
  bottom: 0%;
  left: 0;
  right: 0;
}

header nav div {
  flex: 1;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

header nav .about {
  border-right: 1px
}

.homepage {
background-color: rgba(66,109,181,.7);
}

.classics {
background-color: rgba(177,217,163,.7);
}

.pixar {
  background-color: rgba(109,204,233,.7);
}

.princesses {
  background-color: rgba(240,101,148,.7);
}

.marvel{
  background-color: rgba(238,42,36,.7);
}


body {
  margin: 0;
}
 .parentclassics, .parentpixar, .parentprincesses, .parentmarvel {
   margin: 40%;
 }

p{
  font-family: 'Montserrat Alternates', sans-serif;
}
.parentclassics{
  flex-wrap :wrap;
}
.parentclassics .oswald{
display: flex;
}
.parentclassics .oswald .p{
  flex: 1;
  }
.parentclassics .oswald .im{
flex: 2;
}
.parentclassics .mickey{
display: flex;
}
.parentclassics .mickey .im{
flex: 2;
}
.parentclassics .mickey .p{
flex: 1;
}
.parentclassics .dumbo{
display: flex;
}
.parentclassics .dumbo .p{
  flex: 1;
  }
.parentclassics .dumbo .im{
flex: 2;
}
.parentclassics .pooh{
display: flex;
}
.parentclassics .pooh .im{
flex: 2;
}
.parentclassics .pooh .p{
flex: 1;
}
.parentpixar{
  display: flex;
  flex-wrap :wrap;
}
.parentpixar .p{
  flex: 1;
  }
.parentpixar .im{
flex: 2;
}

.parentprincesses img{
  max-width: 25%;
  padding:10px
}

.parentprincesses {
display: flex;
flex-wrap: wrap; 
}

.grid .logoname {
  grid-column: span 2;
  grid-row: span 2;
  color:white;
  font-family: 'merienda', cursive;
  font-size: 50px;
}

.grid .home{
  color:white;
  font-family: 'merienda', cursive;
  font-size: 100px;
 }

.grid div {
grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  height: 100px;
  margin: 10px;
}

.homepage .grid .home {
  background-color: #426db5;
  position: absolute;
  top: 0;
  left:630px;
  width:50%;
  height: 15%;
}

.classics .grid .home{
  background-color: #b1d9a3;
 }

.pixar .grid .home{
  background-color: #6dccdf;
}

.princesses .grid .home{
  background-color: #f06594;
}

.marvel .grid .home {
  background-color: #ee2a24;
}
.grid .one {
  background-color: #426db5;
  }

.grid .two {
  background-color: #b1d9a3;
}

.grid .three {
  background-color: #6dccdf;
}

.grid .four {
  background-color: #f06594;
}

.grid .five {
  background-color: #ee2a24;
}

.parent {
  flex: auto;
  width: 90%;
  margin: auto;
  height: 820px;
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
 }

.parenthomepage .one {
  position: absolute;
  top: 500px;
  left:800px;
  background-color: rgba(59,85,166,.6);
  width:25%;
  height: 80%;
}


.parenthomepage .three {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 300px;
  height: 300px;
}
