/*
font-family: 'Montserrat', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Raleway', sans-serif;
*/



* {
	box-sizing: border-box;}


body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

h1 {
	color: rgb(85, 56, 19);
	font-size: 90px;
	margin: 0;
	
}

h2 {
	font-size: 45px;
	margin-right: 100px;
}

h3 {
	font-size: 12px;
	margin-left: 100px;
	writing-mode: vertical;
	text-orientation: mixed;

}

p {
	color: rgb(90, 48, 17);
	font-family: 'Parisienne', cursive;
	font-weight: 300;
	line-height: 35px;
	font-size: 28px;
	margin-left: 80px;
	margin-right: 80px;
}

main {
	width: 80%;
	margin: auto;
}