/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;

Nav heads       21pt
Quote home      36pt
Headers         36pt
body font       16pt
info gallery    12pt

Kopius Book
font-family: kopius, serif;
font-weight: 400;
font-style: normal;

Kopius Regular Italic
font-family: kopius, serif;
font-style: italic;

Kopius Condensed Regular
font-family: kopius-condensed, sans-serif;

font-family: all-round-gothic, sans-serif;
font-style: normal;
font-weight: 200;

font-family: kewl-script, sans-serif;
font-weight: 400;
font-style: normal;

*/
* {
    box-sizing: border-box;
  }

body{
    background: #fffbd0;
    color:black;
    font-family: 'all-round-gothic', sans-serif;
    font-size: 12pt; 
}

nav{
    font-family: 'kewl-script', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36pt;
}


.home{
    background: #e8c1bb;
    }

.home img {
    width:100%;
}

.home .container {
        position: relative;
        text-align: center;
        color:black;
        font-weight: 700;
        font-size: 24pt;
      }

.home .des{
    text-align: left;
    }

.home .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }
.home .top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}
.home .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .quote{
    font-family: 'all-round-gothic', sans-serif;
    font-size: 34pt;
    font-style: italic;
    color:antiquewhite

}
.home .mixedberrylines{
        width: 100%;
    }

.home .hero{
 width: 100%;
 opacity: 0.25;
}

.home .grid{
        display: grid;
        grid-template-columns: 70% 30%;
      }

.about{
    background: #f9edb2;
}

.about .container {
    position: relative;
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: 24pt;
  }

.about .grid .right .left{
        border:1px black solid;
}

.about .des{
text-align: left;
}

.about .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.about .top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}

.about .grid, .grid2{
    display: grid;
}

.about .grid2{
    grid-template-columns:50% 50%;
}

.about .grid .right,
.about .grid .left{
    padding: 20px;
}
.about .grid .main {
    position: relative;
}

.about .main{
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
}

.about .img{
    width:200%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 500px;
    height: 280px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back-1,.flip-card-back-2,.flip-card-back-3, .flip-card-back-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back-1,.flip-card-back-2,.flip-card-back-3, .flip-card-back-4 {
    background-color: rgb(252, 248, 210);
    color: black;
    transform: rotateY(180deg);
  }

  h1 {
    font-family: 'kewl-script', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

.purchase{
    background: #c6cc9e;
}

.purchase .container {
    position: relative;
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: 24pt;
  }

.purchase .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.purchase .top-left{
position: absolute;
top: 8px;
left: 16px;
}

.purchase .grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;

}
.purchase .display img, img{
    position: relative;
    width: 100%;
}
.views{
    padding-left: 10px;
}

.views img{
    position: relative;
    width: 19%;
    border: 2px black solid;
}

.nutrition{
    background: rgb(242, 255, 229);
    border:black 2px solid;
    padding:10px;
}

.checkout{
    background: rgb(242, 255, 229);
    border:black 2px solid;
    padding: 10px;
}

.gallery{
    background: #fdcfa1;
}
 
.gallery .grid{
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25% 25%;
}

.gallery .container {
    position: relative;
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: 24pt;
  }

.gallery .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.gallery .top-left{
position: absolute;
top: 8px;
left: 16px;
}

a {
    text-decoration: none;
    color: rgb(247, 76, 76);
}

.purchase a {color: rgb(63, 131, 8);}

label {
    display:block;
}